.my-loyalty {
    .loyalty-point {
        padding: 40px;
        display: flex;
        justify-content: space-between;
        .left {
            display: flex;
            flex-direction: column;
            .head {
                font-weight: 600;
            }
            .sub {
                color: #6B6B6B;
            }
        }
        .right {
            .point {
                padding: 10px 40px;
                color: #BB861F;
                outline: 1px solid #BB861F;
            }
        }
    }
    .recharge-card {
        margin: 0px 40px;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("./img/img.svg");
        padding: 40px;
        .left {
            width: 35vw;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            .write {
                font-size: x-large;
            }
            .button {
                padding: 20px;
                text-align: center;
                font-weight: 600;
                border-radius: 50px;
                background-color: #F5CB79;
            }
        }
    }
}

.box {
    margin: 40px;
    padding: 20px;
    outline: 1px solid #BCBCBC;
}

.upper {
    padding: 40px;
    .head {
        font-weight: 600;
    }
    .sub {
        color: #6B6B6B;
    }
}