.blog-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    .inner {
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .main {
            width: 50vw;
            display: flex;
            margin-bottom: 10px;
            gap: 10px;
            .left {
                width: 50vw;
                display: flex;
                flex-direction: column;
                .inner-main {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .blog-heading {
                        font-size: xx-large;
                        font-weight: 600;
                        color: #FFCD6C;
                    }
                    .blog-date-box {
                        background-color: #EEEEEE;
                        padding: 10px;
                        font-size: x-small;
                    }
                    .blog-image {
                        height: 200px;
                        background-size: cover;
                        background-position: top;
                    }
                    .blog-text {
                        color: #838596;
                    }
                }
            }
            .side-links {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .link-icon {
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
        .sub-section {
            display: flex;
            padding: 10px 20px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            background-color: #FFCD6C;
            .sub-button {
                padding: 10px 20px;
                background-color: rgb(255, 255, 255);
            }
        }
    }
}